body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: x-large;
    background: rgb(122, 179, 179);
 }
 
 .title{
     width: 50%;
     margin: auto;
     text-align: center;
 }
 
 #container{
     width: 45%;
     margin: 60px ;
     display: flex;
     justify-content: center;
     border: 3px dotted rgb(61, 156, 141);
 
 }
 
 #container form{
     padding: 50px;
     justify-items: center;
 }
 
 #container form input{
     background-color: rgb(244, 203, 151);
     padding: 9px;
     border: 2px solid rgb(64, 82, 87);
     border-radius: 15%;
 }
 
 #container form input:focus{
     background-color: rgb(74, 75, 75);
 }

 #container form textarea{
    background-color: rgb(244, 203, 151);
    padding: 9px;
    border: 2px solid rgb(64, 82, 87);
    border-radius: 15%;
 }

 #container form select{
    background-color: rgb(244, 203, 151);
    padding: 9px;
    border: 2px solid rgb(64, 82, 87);
    border-radius: 15%;
 }
 